@font-face {
    font-family: "Colaborate-Bold", sans-serif;
    src: url("../fonts/Colaborate-Bold.woff2") format("woff2"), 
    url("../fonts/Colaborate-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Colaborate-Light", sans-serif;
    src: url("../fonts/Colaborate-Light.woff2") format("woff2"), 
    url("../fonts/Colaborate-Light.woff") format("woff");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Colaborate-Regular", sans-serif;
    src: url("../fonts/Colaborate-Regular.woff2") format("woff2"), 
    url("../fonts/Colaborate-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "AlexandriaFLF", sans-serif;
    src: url("../fonts/alexandria/AlexandriaFLF.woff") format("woff2"), 
    url("../fonts/alexandria/AlexandriaFLF.woff2") format("woff");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "AlexandriaFLF-Bold", sans-serif;
    src: url("../fonts/alexandria/AlexandriaFLF-Bold.woff2") format("woff2"), 
    url("../fonts/alexandria/AlexandriaFLF-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "ChunkFive Ex Regular", sans-serif;
    src: url("../fonts/ChunkFiveEx.woff2") format("woff2"), 
    url("../fonts/ChunkFiveEx.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?beo3he');
  src:  url('../fonts/icomoon/icomoon.eot?beo3he#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?beo3he') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?beo3he') format('woff'),
    url('../fonts/icomoon/icomoon.svg?beo3he#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e900";
}
.icon-search:before {
  content: "\f002";
}
.icon-play:before {
  content: "\f04b";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-facebook:before {
  content: "\ea90";
}
