    @import 'vars';
    @import 'media';
    @import 'libs';
    @import 'fonts';
    @import 'global';

    //start header
    .header {
        &-bg {
            background: rgb(28, 28, 47);
            background: linear-gradient(180deg, rgba(28, 28, 47, 1) -6%, rgba(231, 232, 234, 1) 100%);
        }

        &__inner {

            &-menu {
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-content {
                margin-top: 50px;
            }

            &-slider {
                position: relative;

                .slick-arrow {
                    cursor: pointer;
                    outline: none;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    background-color: rgba(27, 27, 45, .3);
                    border: none;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }

                .next-arrow {
                    right: -40px;
                }

                .prev-arrow {
                    left: -40px;
                }
            }
        }

        &__media {
            display: flex;
            justify-content: flex-start;
            margin-top: 30px;
            padding-bottom: 40px;
        }
    }

    .menu {
        &__list {
            li {
                display: inline-block;
                padding: 10px 13px;
                background-color: transparent;
                border-radius: 5px;

                &:hover {
                    background-color: #d2d2d5;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -ms-transition: all .3s;
                    -o-transition: all .3s;

                    a {
                        color: $text;
                    }
                }

                a {
                    color: #fff;
                    font-size: 17px;
                    @include light;
                }

                &+li {
                    margin-left: 15px;
                }
            }
        }
    }

    .header__item {
        &-content {
            display: flex;
            justify-content: center;
        }


        &-info {
            color: $grey;
            margin-right: 40px;
            padding-top: 50px;
        }

        &-title {
            font-size: 45px;
            color: #fff;
            @include ChunkFive;
            line-height: 52px;
            margin-bottom: 13px;
        }

        &-subtitle {
            font-size: 39px;
            line-height: 52px;
            @include AalexandriaFLFBold;
            margin-bottom: 10px;

            span {
                @include alexandriaFLF;
            }
        }

        &-descr {
            max-width: 165px;
            font-size: 18px;
            @include openSans;
            margin-bottom: 30px;
        }

        &-btn {
            position: relative;
            border: 1px solid #6e9ad8;
            width: 180px;

            &::before {
                content: '';
                position: absolute;
                width: 160px;
                height: 8px;
                top: 40px;
                right: 10px;
                background-color: transparent;
                box-shadow: 1px 30px 7px rgba(0, 0, 0, .3);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
    }

    .media__item {
        flex-basis: calc(33.3% - 15px);
        min-height: 155px;
        position: relative;
        background: linear-gradient(#f9faf9, #e2e2e2);
        border: 3px solid #fff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        &+.media__item {
            margin-left: 15px;
        }

        .img-letter {
            position: absolute;
            top: 17px;
            left: 20px;
        }

        .img-contents {
            position: absolute;
            right: 0;
            top: 0;
        }

        &-title {
            position: absolute;
            bottom: 11px;
            width: 100%;

            span {
                display: flex;
                justify-content: center;
            }
        }

        &-img {
            text-align: center;

            .img-media {
                margin-top: 10px;
            }
        }
    }

    //end header

    //start app
    .app {
        &-items {
            padding: 40px 0;
            display: flex;
            justify-content: space-between;

            .app__item {
                max-width: 310px;

                &-box {
                    display: flex;
                    align-items: center;
                }

                &-img {
                    margin-right: 10px;
                }

                &-title {
                    font-size: 25px;
                    color: $title;
                }

                &-subtitle {
                    font-size: 15px;
                    color: #5f7390;
                }

                &-box {
                    margin-bottom: 25px;
                }

                &-text {
                    font-size: 14px;
                    color: $title;
                    line-height: 20px;
                }
            }
        }
    }

    //end app

    //start quote

    .quote {
        padding-bottom: 40px;
    }

    .quote__item {
        background: rgb(215, 216, 219);
        background: linear-gradient(90deg, rgba(215, 216, 219, 0.1) 0%, rgba(236, 237, 239, 1) 50%, rgba(215, 216, 219, 0.1) 100%);
        position: relative;

        &-text {
            font-size: 16px;
            color: $list;
            font-size: 16px;
            max-width: 550px;
            text-align: center;
            line-height: 25px;
            margin: 0 auto;
            padding: 20px 0;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                width: 100%;
                height: 2px;
                background: rgb(215, 216, 219);
                background: linear-gradient(90deg, rgba(215, 216, 219, 0.1) 0%, rgba(220, 221, 222, 1) 48%, rgba(215, 216, 219, 0.1) 100%);
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 2px;
                background: rgb(215, 216, 219);
                background: linear-gradient(90deg, rgba(215, 216, 219, 0.1) 0%, rgba(220, 221, 222, 1) 48%, rgba(215, 216, 219, 0.1) 100%);
            }

            span {
                color: #687b96;
            }
        }
    }

    .next-array,
    .prev-array {
        position: absolute;
        border: none;
        background-color: transparent;
        top: 30px;
        cursor: pointer;
        z-index: 99;
    }

    .next-array {
        right: 70px;
    }

    .prev-array {
        left: 70px;
    }

    //end quote

    //start many
    .many {
        &__inner {
            padding-bottom: 30px;

            &-text {
                max-width: 470px;
                margin: 0 auto;
            }

            &-title {
                text-align: center;
                font-size: 27px;
                color: $title;
                margin-bottom: 5px;
            }

            &-subtitle {
                color: #5f7390;
            }

            &-box {
                display: flex;
                padding-bottom: 40px;
            }

            &-img {
                margin-right: 30px;
            }

            &-list {
                padding-top: 40px;

                ul {
                    margin-bottom: 25px;
                }

                li {
                    padding-left: 25px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    color: #828181;
                    @include colaborateLight;

                    &::before {
                        content: '\f04b';
                        font-family: 'icomoon';
                        position: absolute;
                        color: #828181;
                        text-align: center;
                        width: 14px;
                        height: 14px;
                        border: 1px solid #d3d3d4;
                        border-radius: 50%;
                        left: 0;
                        font-size: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }

                    &+li {
                        margin-top: 15px;
                    }
                }
            }

            &-link {
                margin-left: 25px;
                width: 130px;
                padding: 8px 10px;
            }

            &-btns {
                display: flex;
            }
        }
    }

    .accordion {
        background-color: #e3e4e6;
        color: #828181;
        cursor: pointer;
        padding: 10px 20px 10px 35px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        border-top: 1px solid #d7d8da;
        position: relative;
        display: flex;
        align-items: center;

        &::before {
            content: '\e900';
            left: 5px;
            font-size: 10px;
            font-family: 'icomoon';
            position: absolute;
            background-color: #e2e1e1;
            border: 1px solid #d3d3d4;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    .active,
    .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        padding: 10px 30px;
        line-height: 30px;
        background-color: white;
        display: none;
        overflow: hidden;
    }

    .footer {
        &__bg {
            background: rgb(53, 53, 70);
            background: linear-gradient(90deg, rgba(53, 53, 70, 1) 0%, rgba(92, 93, 94, 1) 49%, rgba(53, 53, 70, 1) 100%);
        }

        &__inner {
            padding: 15px 10px;

            &-descr {
                display: flex;
                align-items: center;
                border-bottom: 2px solid #59596c;
            }

            &-img {
                margin-right: 30px;

                img {
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }

            }

            &-text {
                font-size: 13px;
                color: #ffffff;
                line-height: 25px;
                @include colaborateThin;
                opacity: 0.5;
                letter-spacing: 0.30px;

                span {
                    display: block;
                    text-align: right;
                }
            }

            &-box {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
        }
    }

    .box-news__title {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .box-news,
    .box-contact {
        form {

            input,
            textarea {
                max-width: 290px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                padding: 6px 10px;
                background-color: #242439;
                border: 1px solid #747489;
                box-shadow: inset 0px 4px 5px 2px rgba(18, 18, 29, .8);
                outline: none;
                color: #fff;

                &::placeholder {
                    color: rgba(231, 232, 234, .2);
                }
            }
        }
    }

    .box-news {
        color: #fff;
        max-width: 380px;
        width: 100%;

        form {
            input {
                margin-right: 15px;
            }
        }

        &__text {
            font-size: 14px;
            @include openSans;
            line-height: 20px;
            margin-bottom: 20px;
        }

        &__social {
            display: flex;
            margin-top: 20px;
            align-items: center;

            a {
                &+a {
                    margin-left: 15px;
                }
            }

            .icon-twitter,
            .icon-linkedin {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                background-color: #515163;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;

                &::before {
                    font-size: 20px;
                    color: #6d6d84;
                }

                &:hover {
                    box-shadow: 0px 4px 5px 2px rgba(116, 116, 125, .8);
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                }
            }

            .icon-facebook {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                background-color: #515163;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;

                &::before {
                    font-size: 25px;
                    color: #6d6d84;
                }

                &:hover {
                    box-shadow: 0px 4px 5px 2px rgba(116, 116, 125, .8);
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                }
            }
        }
    }

    .box-contact {
        max-width: 415px;
        color: #fff;
        position: relative;

        &__form {
            display: flex;

            textarea {
                resize: none;
                max-width: 200px;
                height: 100px;
            }

            input {
                margin-bottom: 4px;
            }
        }

        button {
            margin-top: 15px;
            position: absolute;
            right: 0;
        }

        .footer-btn {
            width: 80px;
        }
    }

    //end many

    //start application
    .application {
        &__inner {
            background-color: #e7e8ea;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            &-box {
                min-height: 100px;
                background-color: #d7d8da;
                border-bottom: 1px solid #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 30px;
                border-radius: 5px 5px 0px 0px;
                -webkit-border-radius: 5px 5px 0px 0px;
                -moz-border-radius: 5px 5px 0px 0px;
                -ms-border-radius: 5px 5px 0px 0px;
                -o-border-radius: 5px 5px 0px 0px;
            }

            &-search {
                form {
                    position: relative;

                    input {
                        border: 2px solid #d1d1d1;
                        padding: 8px 10px 8px 30px;
                        outline: none;
                        width: 250px;
                        border-radius: 30px;
                        -webkit-border-radius: 30px;
                        -moz-border-radius: 30px;
                        -ms-border-radius: 30px;
                        -o-border-radius: 30px;

                        &::placeholder {
                            font-size: 13px;
                            color: #bfbfbf;
                        }
                    }

                    button {
                        position: absolute;
                        border: none;
                        background-color: transparent;
                        left: 6px;
                        top: 9px;

                        &::before {
                            color: #d8d8d8;
                            font-size: 13px;
                        }
                    }
                }
            }

            &-slider {

                .next-arrow,
                .prev-arrow {
                    position: absolute;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    top: 50%;
                    cursor: pointer;
                    transform: translate(0, -50%);
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-color: #545462;
                    margin-top: -20px;
                }

                .next-arrow {
                    right: -45px;
                    z-index: 99;
                }

                .prev-arrow {
                    left: -45px;
                }
            }

            &-item {
                flex-basis: calc(33.3% - 30px);
                margin-left: 30px;
                text-align: left;
            }

            .many__inner-title {
                text-align: left;
                font-size: 25px;
            }

            &-title {
                margin: 0px 0px 25px 8px;
            }

            .header-link {
                width: 130px;
                padding: 7px 10px;
            }

            &-link {
                margin-left: 14px;
            }
        }

        &__slider {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            max-width: 780px;
            margin-left: -30px;
            margin: 0 auto;
            padding: 25px 0 70px;
        }
    }

    //end application

    //start product
    .product {
        &__inner {
            padding-bottom: 60px;

            &-tabs {
                max-width: 780px;
                margin: 0 auto;
            }

            .tabs {
                border-bottom: 1px solid #bfc0c5;
                margin-bottom: 40px;
                display: flex;

                .tab {
                    color: #fff;
                    cursor: pointer;
                    font-size: 18px;
                    display: block;
                    border-radius: 5px 5px 0px 0px;
                    padding: 8px 20px;
                    background: rgb(209, 209, 212);
                    background: linear-gradient(180deg, rgba(209, 209, 212, 1) 0%, rgba(209, 209, 212, 1) 49%, rgba(193, 193, 193, 1) 100%);
                    -webkit-border-radius: 5px 5px 0px 0px;
                    -moz-border-radius: 5px 5px 0px 0px;
                    -ms-border-radius: 5px 5px 0px 0px;
                    -o-border-radius: 5px 5px 0px 0px;

                    &+.tab {
                        margin-left: 10px;
                    }
                }

                .active {
                    transition: all .5s;
                    background: rgb(72, 72, 92);
                    background: linear-gradient(180deg, rgba(72, 72, 92, 1) 0%, rgba(72, 72, 92, 1) 49%, rgba(55, 55, 72, 1) 100%);
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                }
            }
        }
    }


    .tabs_content {
        &-item {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .product__item {
                display: flex;
                margin-bottom: 60px;

                &-img {
                    margin-right: 10px;
                }

                .many__inner-title {
                    font-size: 22px;
                }

                .many__inner-subtitle {
                    font-size: 12px;
                    margin-bottom: 15px;
                }
            }
        }
    }

    //end product

    //start blog
    .blog {
        padding-bottom: 15px;

        &__inner {
            background-color: $grey;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            &-content {
                display: flex;
            }
        }
    }

    .apps {
        width: 710px;

        &__content {
            padding: 25px 30px 30px 40px;

            .many__inner-title {
                text-align: left;
            }

            &-date {
                margin-right: 15px;
            }

            &-date,
            &-author {
                color: #5f7390;
                font-size: 12px;
            }

            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;
            }

            &-social {
                a {
                    cursor: pointer;

                    &+a {
                        margin-left: 10px;
                    }
                }
            }

            &-img {
                margin-bottom: 40px;
            }

            &-text {
                margin-bottom: 40px;

                p {
                    color: #828181;
                    line-height: 20px;

                    &+p {
                        margin-top: 25px;
                    }
                }
            }

            .many__inner-list {
                padding-top: 20px;
                padding-left: 10px;
            }

            &-items {
                .application__inner-descr {
                    margin-bottom: 25px;
                }
            }
        }

        &__item {
            display: flex;
            max-width: 540px;
            justify-content: space-between;

            .many__inner-title {
                font-size: 20px;
            }

            .many__inner-subtitle {
                font-size: 10px;
                margin-bottom: 10px;
            }

            .application__inner-link {
                margin-left: 0;
            }

            .product__item-descr {
                text-align: center;
            }

            .application__inner-link {
                a {
                    margin: 0 auto;
                }
            }
        }
    }

    .aside {
        width: 225px;
        height: 100%;

        &__content {
            padding: 25px 15px 30px;
            background: rgb(224, 225, 227);
            background: linear-gradient(180deg, rgba(224, 225, 227, 1) 0%, rgba(224, 225, 227, 1) 25%, rgba(231, 232, 234, 1) 100%);

            &-title {
                font-size: 27px;
                color: $title;
                margin-bottom: 20px;
            }

            .many__inner-list {
                padding-top: 0;

                li {
                    cursor: pointer;
                }
            }
        }
    }

    .adv {
        width: 190px;
        height: 110px;
        background-color: #edeeef;
        border: 2px solid #d9d9da;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        &__title {
            text-align: center;
            font-size: 17px;
            color: #828181;

            span {
                display: block;
            }
        }
    }

    //end blog

    //start read
    .read {
        width: 100%;

        .apps__inner {
            margin-bottom: 60px;
            margin-top: 30px;
        }

        .many__inner-box {
            padding: 0 15px 0 70px;
        }

        .application__inner-descr {
            text-align: center;
            margin-top: 20px;
        }
    }

    //end read

    //start play
    .play {
        &__inner {
            position: relative;
            max-width: 780px;
            margin: 0 auto;
            background-color: #edeeef;
            border: 2px solid #d9d9da;
            box-shadow: 0px 4px 22px 6px rgba(218, 218, 219, .5);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            &-number {
                position: absolute;
                width: 395px;
                display: flex;
                justify-content: space-between;
                right: 0;
                left: 0;
                transform: translateX(50%);
                top: -16px;

                span {
                    position: relative;
                    display: block;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    background: rgb(99, 98, 111);
                    background: linear-gradient(0deg, rgba(99, 98, 111, 1) 0%, rgba(99, 98, 111, 1) 50%, rgba(159, 160, 166, 1) 100%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 20px;
                    border: 1px solid #c7c8cb;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 89px;
                        height: 9px;
                        background-color: #333;
                        right: 32px;
                        border-top: 1px solid #c7c8cb;
                        background: rgb(199, 200, 203);
                        background: linear-gradient(0deg, rgba(199, 200, 203, 1) 0%, rgba(199, 200, 203, 1) 30%, rgba(224, 224, 229, 1) 100%);
                    }

                    &:nth-child(1) {
                        &::before {
                            content: none;
                        }
                    }
                }
            }

            .application__inner-descr {
                margin: 30px 0 40px;
                text-align: center;

            }

            &-box {
                display: flex;
                justify-content: center;
                max-width: 450px;
                margin: 0 auto;
                justify-content: space-between;
                margin-bottom: 40px;
            }

            &-start,
            &-pause,
            &-information {
                width: 95px;
                height: 95px;
                background-color: #3f3f4e;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
            }

            &-title {
                margin: 0 0 20px 40px;
                font-size: 27px;
                color: $title;
            }

            &-box {}

            p {
                margin-left: 30px;
                padding: 0 10px;
                color: #828181;
                line-height: 20px;
            }

            .many__inner-box {
                justify-content: center;
            }
        }

        .active {
            background: rgb(17, 62, 131);
            background: linear-gradient(0deg, rgba(17, 62, 131, 1) 0%, rgba(17, 62, 131, 1) 30%, rgba(42, 102, 186, 1) 100%);
        }
    }

    //end play

    //start products
    .products {
        .apps__content {
            padding: 25px 15px 30px 30px;
        }

        &__item {
            display: flex;
            padding-bottom: 25px;
            border-bottom: 1px solid #d0d9e6;
            margin-top: 30px;

            &:first-child {
                margin-top: 0;
            }

            &-info {
                margin-left: 25px;

                .many__inner-info {
                    margin-bottom: 15px;
                }

                p {
                    font-size: 14px;
                    color: $list;
                }

                .many__inner-title {
                    margin-bottom: 0;
                }
            }

            &-connect {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                .many__inner-link {
                    width: 110px;
                    padding: 6px 8px;
                }
            }
        }

        .pagination {
            margin: 0 auto;
            margin-top: 25px;
            display: flex;
            justify-content: center;

            a {
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                padding: 0 5px;
                background: rgb(68, 68, 87);
                background: linear-gradient(0deg, rgba(68, 68, 87, 1) 0%, rgba(68, 68, 87, 1) 30%, rgba(101, 101, 125, 1) 100%);
                box-shadow: inset 2px 2px 0px rgba(167, 167, 181, 0.5), 1px 1px 5px rgba(167, 167, 181, 1);

                &+a {
                    margin-left: 15px;
                }
            }

            .pagination-active {
                background: rgb(17, 62, 131);
                background: linear-gradient(0deg, rgba(17, 62, 131, 1) 0%, rgba(17, 62, 131, 1) 30%, rgba(42, 102, 186, 1) 100%);
            }

            .first,
            .last {
                width: 60px;
                padding: 7px 5px;
                position: relative;

                &::before {
                    position: absolute;
                    font-family: 'icomoon';
                }
            }

            .first {
                padding-left: 13px;

                &::before {
                    content: '\e901';
                    left: 5px;
                }
            }

            .last {
                padding-right: 13px;

                &::before {
                    content: '\e902';
                    right: 5px;
                }
            }
        }
    }

    //end products

    //start buy
    .buy {
        width: 100%;

        &__content {

            .many__inner-title,
            .many__inner-subtitle {
                text-align: center;
            }

            .application__inner-descr {
                margin-bottom: 25px;
            }

            &-info {
                background-position: center;
                background-repeat: no-repeat;
                min-height: 400px;
                margin-bottom: 35px;
            }

            &-img {
                max-width: 420px;
                margin: 0 auto;
                position: relative;
            }

            &-price {
                position: absolute;
                top: 50%;
                right: -65px;
                margin-top: -65px;
                width: 130px;
                height: 130px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                text-align: center;

                .price {
                    font-size: 39px;

                    span {
                        display: block;
                        font-size: 15px;
                    }
                }
            }

            .many__inner-btns {
                a {
                    margin: 0 auto;
                }
            }
        }

        &__logo {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(50%, -50%);
            margin-top: -20px;
        }
    }

    .advantage {
        .many__inner-title {
            text-align: left;
            margin-bottom: 20px;
        }

        p {
            color: $list;
            line-height: 30px;
            margin-bottom: 40px;
        }

        &__inner {
            &-list {
                margin-left: 50px;
            }
        }
    }

    //end buy

    //start modal
    .modal__content {
        display: flex;

        .data__counter {
            width: 370px;
            padding-right: 15px;

            &-box {
                display: flex;
                align-items: center;
                border: 1px solid #ccc8c8;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                background-color: #dcdcdc;
                padding: 12px 15px;
                margin-bottom: 15px;
            }

            &-form {
                display: flex;
                align-items: center;
                margin-right: 15px;

                form {
                    max-width: 30px;
                    height: 40px;
                    margin-left: 7px;

                    input {
                        width: 100%;
                        border: 1px solid #ccc8c8;
                        outline: none;

                        &::placeholder {
                            color: #9d9d9d;
                        }
                    }
                }
            }

            &-btns {
                display: flex;

                .icon-sort-asc,
                .icon-sort-down {
                    height: 17px;
                    width: 15px;
                    position: relative;
                    border: 1px solid #ccc8c8;
                    background: rgb(126, 121, 121);
                    background: linear-gradient(0deg, rgba(126, 121, 121, 1) 0%, rgba(126, 121, 121, 1) 30%, rgba(200, 194, 194, 1) 100%);

                    &::before {
                        color: #dcdcdc;
                        position: absolute;
                        font-size: 15px;
                        right: 0;
                        left: 0;
                    }
                }

                .icon-sort-asc {
                    &::before {
                        top: 3px;
                    }
                }

                .icon-sort-down {
                    &::before {
                        top: -4px;
                    }
                }
            }

            &-total {
                font-size: 23px;
                color: $title;
                margin-bottom: 20px;

                span {
                    color: #3d3d4d;
                }
            }

            &-cart {
                margin-bottom: 40px;

                form {
                    width: 100%;
                    position: relative;

                    input {
                        width: 100%;
                        border: 1px solid #c9c9c9;
                        padding: 12px 120px 12px 20px;
                        outline: none;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;

                        &::placeholder {
                            color: #9d9d9d;
                        }
                    }

                    button {
                        position: absolute;
                        right: 2px;
                        width: 96px;
                        background: rgb(45, 45, 62);
                        background: linear-gradient(0deg, rgba(45, 45, 62, 1) 0%, rgba(45, 45, 62, 1) 30%, rgba(63, 63, 78, 1) 100%);
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                        padding: 6px 5px;
                        top: 3px;
                        cursor: pointer;
                        color: #fff;
                        font-size: 19px;
                    }
                }
            }

            &-info {
                display: flex;
                align-items: center;

                .icon-info {
                    width: 25px;
                    height: 25px;
                    background: rgb(45, 45, 62);
                    background: linear-gradient(0deg, rgba(45, 45, 62, 1) 0%, rgba(45, 45, 62, 1) 30%, rgba(63, 63, 78, 1) 100%);
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 15px;

                    &::before {
                        color: #fff;
                    }
                }
            }

            &-descr {
                max-width: 310px;
                color: $list;
                line-height: 25px;
            }
        }

        .modal__content-paypal {
            width: 250px;
        }

        .many__inner-title {
            text-align: left;
        }

        .many__inner-subtitle {
            margin-left: 15px;
        }

        .application__inner-descr {
            margin-bottom: 15px;
        }
        &-paypal{
            border-left: 1px solid #b3abab;
        }
    }

    .fancybox-content {
        padding: 20px 15px 40px;
        background-color: #e9e8e8;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .paypal__box{
        display: flex;
        margin: 35px 0 0 35px;
        &-img{
            margin-right: 15px;
            img{
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
        .many__inner-subtitle{
            margin-left: 0;
        }
    }

    //end modal